

* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
}

    

ul{
    list-style: none;
}
a{
    text-decoration: none;
} 
/* ---------header----------- */
 
header{
    display:grid;
    align-items: center;
    width:100%;
    height:56px;
    position:sticky;
    top:0;
    z-index: 20;
    background: white;
  }
header nav{
    display:flex;
    justify-content: space-between;
    margin: 0px 9.6px;
    padding:0px 8px;
}
.nav-logo{
    padding: 0px 24px;
}
.logo{
    width:32px;
}
.header-section{
    display: flex;
    align-items: center;
}
.nav-seperator{

    flex-grow: 1;
}
.nav-link{
    margin:0px 16px;
    color:black;
    padding:0px 8.5px;
    cursor: pointer;
}

.nav-link-right{
    margin:0px 16px;
    color:black;
    padding:0px 8.5px;
    cursor: pointer;
}
.logo-right{
    width:32px;
    padding: 0px 4px;
}


/* main starting */
/* ----------first-grid-------------- */

main{
    display: block;
    position: relative;
}
.site-first-grid{
    display:grid;
    position:relative;
    cursor: pointer;
}
.first-image{
    width:100%;
    object-fit: cover;
    object-position: center;
    height:600px;
}
.site-text-first{
    display: block;
    position: absolute;
    top:240px;
    left:230px;
    color: white;
}
.camera-spec{
    font-size:32px;
    font-weight: 100;
}
.price-tag{
    margin-top: 48px;
}
.price{
    font-size:38px;
    font-weight: 300; 
}
.old-price{
    margin-left:18px;
    font-size: 28px;
    font-weight: 300; 
    color:#cec0c0;
}
.buy{
    cursor: pointer;
    text-align: center;
    padding: 9px 30px;
    margin-top: 12px;
    font-size: 18px;
    border-radius: 9px;
    border-width: 0px;
}
.buy:hover{
    background-color: #cec0c0;
}
/*----------second-grid------------ */
.site-second-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin:16px 16px;
    grid-column-gap:16px;
}
.second-grid-container{
    position: relative;
}
.second-grid-image{

    width:100%;
    height:477px;
    object-fit: cover;
    object-position:bottom;
    cursor: pointer;
}
.site-text-second{
   display: flex;
   flex-direction: column;
    text-align: center;
    width:643px;
    height:168px;
    position: absolute;
    top:0;
    left: 45px;
    padding-top: 45px;
    cursor: pointer;
}
.promotion{
    font-size:45px ;
    padding-top: 10px;
    font-weight: 400;
   
}
.promotion-1{
    margin:3px;
    font-size: 25px;
    font-weight: 400;

   
}
.promotion-2{
    font-size:45px ;
    padding-top: 10px;
    font-weight: 400;
    color: white;
   
}
.promotion-3{
    margin:3px;
    font-size: 25px;
    font-weight: 400;
    color: white;
   
}
.buy-tag{
    font-size: 20px;
    padding-top: 3px;
    color: #FF6900;
    font-weight:300; 
}
.go{
    color: #FF6900;

}
.buy-tag:hover{
    text-decoration:underline;
}
.buy-tag-second a span{
    color: white;
    font-size:20px ;
    margin-right: 2px;
    
}
.buy-tag-second a span:hover{
    text-decoration: underline;
}
.go-tag{
    font-size: 20px;
    color: white;
    margin-right: 15px;
}
/*-----------third-grid------------------ */
.site-third-grid{
   
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 16px 16px;
    grid-column-gap: 16px;
    position: relative;
}
.third-grid-container{
    align-items: center;
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
    position: relative;
    
    cursor: pointer;
    
}
.third-grid-image{
    width: 100%;
    object-fit: cover;
    object-position:bottom;
    height:477px;
    
}
.site-text-third{
  
    display: flex;
    flex-direction: column;
    position:absolute;
    top:0;
    left:320px;
    font-size: 20px;
    margin-top: 89px;
    color: white;
}
.site-text-third span:hover{
    text-decoration: underline;
}
.site-text-third-buy{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:0;
    left:140px;
    font-size: 20px;
    margin-top: 70px;
    color: white;
    

}
.site-text-third-buy :hover{
    text-decoration: underline;
}
.third-grid-container-shadow{
    align-items: center;
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
    position: relative;
    transition: box-shadow .25s ease;
    cursor: pointer;
}
.third-grid-container-shadow:hover{
    box-shadow: 1px 1px 8px #c1c1c1;

}
.third-grid-third-div{
    position: relative;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    padding: 32px 12px 0 12px;
}
.third-grid-spec{
    font-weight: 700;
    font-size: 38.4px;
    margin-bottom: 5px;
}
.third-grid-spec-1{
    font-size:19.2px ;
    font-weight: 500;
    margin-bottom: 19px;
}

.third-grid-spec-2{
    color: #FF6900;
    font-size: 19.2px;
    padding-bottom:15px;

}
.third-grid-spec-2:hover{
    text-decoration: underline;
}
.third-grid-spec-image{
    height:278px;
    width:278px;
    align-items: center;
}
/* --------------fourth-grid-------------- */
.site-fourth-grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:64px 64px;
     padding: 0 12.8px;
    column-gap: 12px;
}
.fourth-grid-container{
    display:flex;
    position:relative;
    flex-direction: column;
    cursor:pointer;
    height:100%;
    width:100%;

}
.fourth-section-image{ 
    width:100%;
    

} 
.video-logo{
    height: 4.1667vw;
    width: 4.1667vw;
    top: 189px;
    position: absolute;
    left: 310px;
}
.fourth-grid-text{
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.fourth-grid-text-one{
    padding-top: 75px;
    margin-bottom: 19px;
    color: #FF6900;
    font-size: 18px;
    font-weight: 600;
}
.fourth-grid-text-two{
    font-size: 36px;
    margin-bottom: 29px;
    font-weight: 600;
}
.fourth-grid-text-three{
    text-align: center;
    font-size:24px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 20px;
}
.fourth-grid-text-four{
    font-size: 18px;
    font-weight:400;
}
.fourth-grid-text-four:hover{
      text-decoration: underline;
}
.move-logo{
    display: flex;
    flex-direction: row;
    padding-top: 34px;
    align-items:center;
}
.lessthan{
    width:30px;
    height:30px;
    margin-right:30px;

}
.greaterthan{
    width: 25px;
    height: 25px;
    margin-left: 30px;
    border-radius: 5px;
}
.greaterthan:hover{
    opacity:0.5;
}
.lessthan:hover{
    opacity:0.5;
}
/* ------------fifth-section--------- */
.site-fifth-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:64px 64px;
    column-gap: 16px;
    text-align: center;
    cursor:pointer;
    
}
.fifth-first-section{
    padding-top: 78px;
    
    transition: box-shadow .25s ease;
}
.fifth-first-section:hover{
    box-shadow: 1px 1px 8px #c1c1c1;

}
.fifth-first-text-div{
    margin-bottom: 60px;
}


.fifth-first-text{
    font-size: 36px;
    font-weight: 600;
}
.fifth-second-logo-div{
    display: flex;

}
.mi-logo{
    margin: 0 76px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}
.fifth-second-text{
    font-weight: 400;
    font-size:18px;
}
.fifth-second-text:hover{
    text-decoration: underline;
}
.fifth-second-section{
   padding:78px 11px;
   transition: box-shadow .25s ease;

}
.fifth-second-section:hover{
    box-shadow: 1px 1px 8px #c1c1c1;

}
.fifth-second-section h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 12px;

}
.fifth-second-section span{
    font-weight: 400;
    font-size:18px;
}
.fifth-second-section span:hover{
    text-decoration: underline;
}
/* ----------end of main----------- */
.site-footer{
    background-color:#191919;

}
.site-footer-contents{
    
    padding:64px 32px 0 32px;
    margin:0 9.6px;
}
.site-footer-main{
    display:flex;
}
.site-footer-left{
    display:flex;
    flex-grow: 1;
    margin-right: 50px;
}
.nav-column{
    margin-right: 16px;
    flex: 1 1;
}
.footer-title{
    color:white;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 16px;
}
.column-contents li{
    color:#a3a3a3;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}
.column-contents li:hover{
    color:white;
    text-decoration: underline;
    cursor: pointer;
}
.site-footer-right{
    width: 400px;

}
.site-footer-right-first{
    margin-bottom: 24px;
}
.footer-logo-right{
 display: flex;
}
.footer-logo-right li{
    margin-right: 16px;
}
.footer-logo-right li img{
    width:17px;
    height:17px;
    display: flex;
    cursor: pointer;
}
.email{
    background-color: initial;
    border-radius: 14px;
    font-size: 16px;
    height: 48px;
    padding:1px 2px 1px 16px;
    border-color: white;
    box-shadow: none;
    width:100%;
}
.site-footer-wrap{
    border:1px solid white;
    border-radius: 14px;
    align-items: center;
}
.site-footer-qrcode{
    padding:16px;
    display: flex;
    align-items: center;
}
.site-footer-qrcode img{
    margin-right: 16px;
    width:80px;
    height:80px;
}
.site-footer-content{
    display: flex;
    flex-direction: column;
}
.site-footer-content h3{
color: white;
margin-bottom: 8px;
}

.site-footer-content p{
    color:white;
}
.site-footer-play{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px 16px;
    border-top: 1px solid white;
    cursor: pointer;
}
.site-footer-play img{
    width:30px;
    height:30px;
    margin-right: 24px;
}
.site-footer-play span{
    color: white;

}
.site-footer-bottom{
    flex-direction: row;
    display:flex;
    margin-top:64px;
    padding: 24px 0 38px 0;
    border-top: 1px solid white;
    align-items: center;
}
.site-footer-bottom div span{
    color: white;
    margin-right: 32px;
}
.footer-end{
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.footer-end span{
    margin-right: 16px;
    cursor: pointer;
}
.under-line:hover{
    text-decoration: underline;
}
.footer-last{
    display:flex;
}